* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
}

:root {
    --text-color: black;
    --bg-color: white;

    --btn-color: #aaa;

    --window-padding-inline: 1rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: white;
        --bg-color: #111;
    }
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

// utility class for all of the variables
.grid {
    --main: 50px;

    // border and grid default colors
    --main_c: #333;
    --sub_c: gainsboro;
    --subber_c: whitesmoke;

    // grid styles
    --sub_style: solid;
    --subber_style: solid;

    --sub_w: 1px;
    --subber_w: 1px;
}

body {
    font-family: Verdana, sans-serif;

    color: var(--text-color);
    background-color: var(--bg-color);
    padding-inline: var(--window-padding-inline);
    margin-inline: auto;

    width: min(140ch + 7rem, 100%);
}

img {
    max-width: 100%;
}

h5 {
    font-size: 1rem;
}

.full-width {
    width: 100%;
}

.span-all {
    grid-column: 1 / -1;
}

.align-start {
    align-self: start;
}

header,
section {
    padding-block: 1rem;
    max-width: 100%;
    row-gap: 1rem;
    display: flex;
    flex-flow: row wrap;
    column-gap: 2rem;

    > h2,
    > .section-header_wrapper {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        width: 100%;
    }
}

header {
    flex-direction: column;
    align-items: center;

    > h1 {
        line-height: 2.5rem;
        text-align: center;
    }
}

.byline {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    > a {
        height: 1.5rem;
        width: 1.25rem;
    }

    path {
        fill: var(--text-color);
    }
}

main {
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    margin-inline: auto;
    width: fit-content;
    max-width: 120rem;
    justify-content: center;
}

.main {
    flex: 1 1 0;
    max-width: 80rem;
    margin-bottom: 1rem;
}

.aside {
    flex: 0 1 0;
}

.introduction {
    display: flex;
    column-gap: 3rem;
    row-gap: 1rem;
    flex-basis: 100%;
    margin-inline: auto;
    margin-block: 1rem;

    > div {
        display: grid;
        gap: 1rem;
        max-width: 70ch;
        min-width: min(40ch, 100%);
        flex: 1 1 0;
    }

    ul {
        margin-left: 1rem;
        display: grid;
        gap: 1rem;
        grid-auto-rows: min-content;
        
        strong {
            flex: 0 1 0;
            white-space: nowrap;
            min-width: 10ch;
        }

        li {
            align-items: start;
            column-gap: 1.5rem;
            flex-wrap: wrap;
        }

        p {
            flex: 1 1 0;
            min-width: min(30ch, 100%);
        }
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        display: flex;
    }
}

.alert {
    padding: 1rem;
    border: 1px solid var(--text-color);
}

.unit-button-wrapper {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	flex-wrap: wrap;
	flex-shrink: 1;
	justify-content: center;
}

$btn-border-radius: 5px;

.btn-group {
    display: flex;
    flex-flow: row nowrap;

    > button {
        border-radius: 0;
        border: none;
        cursor: pointer;
        background-color: var(--btn-color);
        color: white;
        font-size: 1rem;

        &:not(:first-of-type) {
            border-left: 2px solid black;
        }

        &:first-of-type {
           border-top-left-radius: $btn-border-radius;
           border-bottom-left-radius: $btn-border-radius;
        }

        &:last-of-type {
            border-top-right-radius: $btn-border-radius;
            border-bottom-right-radius: $btn-border-radius;
        }

        &.selected {
            cursor: default;
            background-color: whitesmoke !important;
            color: black;
        }
    }
}

#presets {
    padding: .25rem .5rem;
}

.configuration {
    &[data-units="in"] .mm,
    &[data-units="mm"] .in {
        display: none;
    }
}

[class^="config__"] {
    width: fit-content;
}

.config-section {
    border: 1px solid var(--text-color);
    padding: 1rem;
    padding-top: 0;
    margin-block: 1rem;
    flex: 1 1 0;

    &_sub {
        column-gap: 1rem;
    }
}

.section-title,
.fieldset > .section-header {
    margin-top: -.75rem;
    margin-bottom: .5rem;
    
}

.section-header {
    grid-column: 1 / -1;
}

#dpi + span {
    max-width: 20ch;
    font-size: small;
    line-height: 1rem;
}

.section-title > div,
.fieldset h4,
.fieldset h5 {
    width: fit-content;
    padding-inline: 1rem;
    background-color: var(--bg-color);
    display: flex;
    column-gap: 1rem;
    align-items: center;
}

.section-title h3 {
    white-space: nowrap;
}

.section-help {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--text-color);
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    padding: 0;
    aspect-ratio: 1 / 1;

    &::before {
        content: "?";
        font-weight: bold;
    }

    &:focus,
    &:hover {
        cursor: pointer;
        outline: 1px solid var(--text-color);
    }
}

.help-modal {
	border: 0;
	color: var(--text-color);
	margin: 0;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
    width: min(70ch, 100%);

    &::backdrop {
        background-color: transparentize(black, .5);
    }

    &__header {
        display: flex;
        gap: 2rem;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        font-size: 1.25rem;
    }

    &__content {
        background-color: var(--bg-color);
        border: 1px solid var(--text-color);
        width: 100%;
        max-width: min(70ch, 100vw);
        max-height: 100vh;
        overflow: auto;

        h5 {
            font-size: 1rem;
            width: 100%;
            border-bottom: 1px solid var(--text-color);
        }
    }

    &__body {
        display: grid;

        strong ~ p {
            margin-bottom: .5rem;
        }

        &.no-details {
            gap: .5rem;
            padding: .5rem 1rem;
        }
    }    

    details {
        border-top: 1px solid var(--text-color);

        > *:not(summary) {
            padding: .5rem;
        }

        li {
            display: block;
        }
    }

    summary {
        padding: .5rem;
        font-weight: bold;
        background-color: transparentize(black, .85);

        + ul {
            display: grid;
            gap: 1rem;
        }
    }
}

@media (prefers-color-scheme: dark) {
    .help-modal summary {
        background-color: transparentize(white, .85);
    }
}

.close-help {
    border: none;
    background: transparent;
    color: var(--text-color);

    &:focus,
    &:hover {
        cursor: pointer;
        outline: 1px solid var(--text-color);
    }
}

.config-section_wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
}

.config-section_sub,
.fieldset {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-rows: min-content;
    row-gap: .5rem;
    outline-color: blue !important;

    label {
        grid-column: 1;
        align-self: center;
        white-space: nowrap;
    }

    input {
        grid-column: 2;
    }

    li {
        column-gap: .5rem;
        align-items: center;
    }
}

.fieldset {
    border: 1px solid var(--text-color);
    padding: 1rem;
    padding-top: 0;

    &__100 {
        width: 100%;
    }
}

input[type="number"] {
    width: 4.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-left: .5rem;
}

.config__page-layout__margins {
    &[data-x-linked="true"] {
        .margins-linked[data-type="x"] { display: inline-flex; }
        .margins-unlinked[data-type="x"] { display: none; }
    }
    &[data-y-linked="true"] {
        .margins-linked[data-type="y"] { display: inline-flex; }
        .margins-unlinked[data-type="y"] { display: none; }
    }

    &[data-x-linked="false"] {
        .margins-linked[data-type="x"] { display: none; }
        .margins-unlinked[data-type="x"] { display: inline-flex; }
    }
    &[data-y-linked="false"] {
        .margins-linked[data-type="y"] { display: none; }
        .margins-unlinked[data-type="y"] { display: inline-flex; }
    }
}

.margins-linked,
.margins-unlinked {
    flex-wrap: nowrap;
    align-items: center;
    gap: .25rem;
}

.link-icon__checkbox {
    &:focus + .link-icon,
    + .link-icon:hover {
        border: 1px solid var(--text-color);
    }

    &:not(:checked) {
        + .link-icon { 
            display: none; 
        }
    }
}

.margin-label {
    display: inline-flex;

    > button {
        border: none;
        padding: 0;
        background: none;
    }
}

.link-icon {
	width: 1.5rem;
	height: 1.5rem;
	padding: .25rem;

    &:focus,
    &:hover {
        border: 1px solid var(--text-color);
        cursor: pointer;
    }

    &__top > svg {
        transform: rotate(-45deg) translateY(10%) translateX(-10%);
    }

    &__bottom > svg {
        transform: rotate(-45deg) translateY(-10%) translateX(10%);
    }

    > svg{
        fill: var(--text-color);
        width: 100%;
        height: 100%;
    }
}

// half-link buttons to re-link axis' margins
.link-margins {
    height: 1.25rem;
}

fieldset {
    border: none;

    legend {
        font-weight: bold;
        margin-bottom: .5rem;
    }

    > div {
        white-space: nowrap;
    }
}

.config__grid__vocab {
    grid-column: 1 / -1;
    row-gap: 1rem;
    column-gap: 1.5rem;
    grid-template-columns: 1fr 1fr;

    &.empty .hide-when-empty {
        visibility: hidden;
        height: 0;
        margin: 0;
    }
}

.vocab-list__wrapper {
	grid-column: 2;
	grid-row: 1 / 3;
}

.vocab-header,
.word-wrapper {
	display: flex;
	flex-flow: row nowrap;
    align-items: center;
}

.vocab-header {
    height: min-content;
    gap: 1rem;
}

#vocab-list {
	display: grid;
	gap: .5rem;
}

.word-wrapper {
    gap: .5rem;

    > input {
        width: 3rem;
    }

    > button {
        padding: 0;
        aspect-ratio: 1/1;
        line-height: 1rem;
        width: 1.5rem;
        font-size: 1.5rem;
        border-radius: 50%;
        border: 1px solid red;
        background-color: transparent;
        color: red;
    }
}

.vocab-options {
	margin-top: .5rem;
    min-width: 15ch;
}

.word-gap {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	height: fit-content;
	gap: .5rem;
}

.grid-style {
    .grid {
        --sub_c: black;
        --subber_c: black;
    }

    display: flex;
    gap: 2rem;

    li {  
        > div {
            display: grid;
            align-items: center;
            justify-items: center;
            gap: .5rem;
        }
    }

    input {
        align-self: start;
        margin-top: 1rem;
    }

    label {   
        display: block;    
        height: var(--main);
        width: var(--main);
        color: black !important;
        background-color: white !important;
        border: 1px solid black;
    }
}

.quad,
.hexa {
    > label,
    > .genkouyoushi-cell {
        position: relative;
    }

    &-lines {
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        
        &::before,
        &::after {
            content: "";
            position: absolute;
        }
        
        &::before {
            width: 100%;
        }
        
        &::after {
            height: 100%;
        }
    }
}

.quad  {
    &-lines {
        &::before,
        &::after {
            border-color: var(--sub_c);
        }
        
        &::before {
            top: 50%;
            border-top-style: var(--sub_style);
            border-top-width: var(--sub_w);
        }
        
        &::after {
            left: 50%;
            border-left-style: var(--sub_style);
            border-left-width: var(--sub_w);
        }
    }
}

.hexa {
    &-lines {
        &::before,
        &::after {
            border-color: var(--subber_c);
        }
        
        &::before {
            height: 50%;
            top: 25%;
            border-block-style: var(--subber_style);
            border-block-width: var(--subber_w);
        }
        
        &::after {
            width: 50%;
            left: 25%;
            border-inline-style: var(--subber_style);
            border-inline-width: var(--subber_w);
        }
    }
}

.buttons {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    align-items: baseline;

    > span {
        font-size: .9rem;
    }
}

button {
    padding: .5rem 1rem;
}

// SCSS Variables
$border-color: #333;
$subcell-size: 5mm;

#page {
    --_top: 0;
    --_right: 0;
    --_bottom: 0;
    --_left: 0;

    color: black !important;
    background-color: white !important;
    border: 1px solid black;
    padding: var(--_top) var(--_right) var(--_bottom) var(--_left);
}

// Main Grid (Outer Grid)
.genkouyoushi-grid {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &.no-gap > .genkouyoushi-cell:not(.last-column) {
        border-right: none;
    }

    &[data-style="blank"] {
        .quad-lines, .hexa-lines { display: none; }
    }
    &[data-style="quad"] {
        .hexa-lines { display: none; }
    }

    .genkouyoushi-cell {
        border: 1px solid var(--main_c);
        border-bottom: none;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        width: var(--main);
        height: var(--main);
        
        &.last-in-column {
            border-bottom: 1px solid var(--main_c);
        }
        
        table {
            display: inline-table;
            border-collapse: collapse;
            margin-inline: -1px;

            td {
                border: 1px dashed gainsboro;
                border-top: none;
            }
        }

    }
}

.cell-group-wrapper {
    display: flex;
}

[data-direction="ltr"] {
    .cell-group {
        > .genkouyoushi-cell {
            border-right: none;

            &:last-of-type {
                border-bottom: 1px solid var(--main_c);
            }
        }
    
        &:last-of-type > .genkouyoushi-cell {
            border-right: 1px solid var(--main_c);
        }
    }
}

[data-direction="rtl"] {
    .cell-group-wrapper {
        flex-direction: column;
    }

    .cell-group {
        display: flex;

        > .genkouyoushi-cell:not(:last-of-type) {
            border-right: none;
        }

        &:last-of-type {
            border-bottom: 1px solid var(--main_c);
        }
    }
}

.preview-wrapper {
    max-width: calc(100vw - 2 * var(--window-padding-inline));
    overflow-x: auto;
    padding-block: 1rem;
}

@media screen and (min-width: 1300px) {
    .configuration {
        flex-direction: column;
    }

    .config-section {
        width: 100%;
    }
}